<body class="d-flex flex-column min-vh-100">
<footer class="footer mt-auto">
<div class="container">
<div class="div1">
<i class="fa-brands fa-square-facebook"></i>
<i class="fa-brands fa-square-instagram"></i>
<i class="fa-brands fa-linkedin"></i>
</div>
<div class="div2">
<h5>&copy; Wanderlust Private limited</h5>
</div>
<div class="div3">
<a class="privacy" href="/privacy">Privacy</a>
<a class="terms" href="/terms">Terms</a>
</div>
</div>
</footer>
</body>