<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/footerCSS.css"/>
    <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
<link href="/css/rating.css" rel="stylesheet"/>

<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-sA+e2EnVtcncIQx8nH9j5PH2Jt6DJgO32e2pEBkTbU8="
  crossorigin=""
/>

<script
  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" 
  integrity="sha256-p2c9ZvlpAo2GZoi0Pqyl+NQuwX6HgPxyfG3+j2F94BI="
  crossorigin=""
></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" ... />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" ...></script>

</head>
<body>
    <!-- The below line is responsible for adding the navbar at the top of the website. -->
    <%- include("../includes/navbar.ejs")%>
    <!-- This is compulsory to inject the content. It is responsible for the showing all the content when you call the listing. -->
    <div class="container">
      <!-- The below line is responsible for showing the flash message when we add,delete,update our listings. -->
      <%- include("../includes/flash.ejs") %> 
      <%-body %></div> 
    <!-- This is the link for adding footer -->
      <%- include("../includes/footer.ejs")%>
    <script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ENjdO4Dr2bkBIFxQpeoA6DQDkUWiN0nUomKc8sJz7SoNHDoD8HkSxNf4x86dIHNDz0"
  crossorigin="anonymous"
></script>
 <script src="/js/script.js"></script>
</body>
</html>