<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h1>All Listings</h1>

    <!-- here get is used to get the data form and the action will work on the listing/new -->
     
    <form method="GET" action="listings/new">
        <button>Create new listing</button>
    </form>
    <ul>
       <% for(let listings of allListings){ %>
        <li><a href="/listings/<%=listings._id%>"><%=listings.title%></a></li>
        <%}%>
    </ul>
</body>
</html>